@include block(radio-group) {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    font-size: 0;
    width: 100%;
}

@include block(radio) {
    $this: &;
    outline: none;
    line-height: 1;
    margin-right: 30px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    font-size: $radio__font-size;
    &.is-checked {
        #{$this}__label {
            color: $radio--checked__color;
        }
        #{$this}__inner {
            border-width: 0;
            border-color: $radio-inner--checked__border-color;
            background: $radio-inner--checked__background;
            &:after {
                transform: translate(-50%,-50%) scale(1)
            }
        }
    }
    &__label {
        padding-left: 10px;
        font-size: $radio__font-size;
    }
    &__original {
        opacity: 0;
        outline: none;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }
    &__input {
        white-space: nowrap;
        cursor: pointer;
        outline: none;
        display: inline-block;
        line-height: 1;
        position: relative;
        vertical-align: middle;
    }
    &__inner {
        cursor: pointer;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        box-sizing: border-box;
        width: $radio-inner__width;
        height: $radio-inner__height;
        transition: border-color 500ms linear;
        background-color: $radio-inner__background;
        border: $radio-inner__border-width solid $radio-inner__color;
        &::after {
            top: 50%;
            left: 50%;
            content: "";
            position: absolute;
            border-radius: 100%;
            width: $radio-inner--after__width;
            transition: transform .15s ease-in;
            height: $radio-inner--after__height;
            transform: translate(-50%,-50%) scale(0);
            background-color: $radio-inner__background;
        }
        &:hover {
            border-width: $radio-inner__border-width; 
            border-color: $radio-inner--hover__color;
           
        }
    }
} 